{% if tree %}
    {% for branch in tree %}
        {% for section in branch %}

            {% include 'tree/includes/not_active_section.html' %}
            <br>
        {% endfor %}
    {% endfor %}
{% endif %}
{% include "tree/includes/active_section.html" with section=current_section %}
{% if down_sections %}
    {% for section in down_sections %}
        <br>{% include 'tree/includes/not_active_section.html' %}
    {% endfor %}
{% endif %}

{{ menu.name }}
{% for sections in levels %}
    {% for section in sections %}
        {% if request.path  == section.slug %}
            {% include "tree/includes/active_section.html"%}
        {% else %}
            {% include 'tree/includes/not_active_section.html' %}
        {% endif %}
        <br>
    {% endfor %}
{% endfor %}